@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-regular.eot");
  src: url("../fonts/Vazir-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-regular.woff2") format("woff2"), url("../fonts/Vazir-regular.woff") format("woff"), url("../fonts/Vazir-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff2") format("woff2"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Light.eot");
  src: url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Light.woff2") format("woff2"), url("../fonts/Vazir-Light.woff") format("woff"), url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body, div, section, header, main, footer, nav, button, a, li {
  font-family: vazir;
  line-height: 25px;
  direction: rtl;
}

img {
  width: 100%;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
}
.section__wrapper {
  padding: 50px 20px;
  text-align: center;
}
.section__bg {
  background: url("../images/land.png") no-repeat;
  background-position: -628px -2px;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
@media (min-width: 768px) {
  .section__bg {
    background-position: -100px 0;
  }
}
@media (min-width: 992px) {
  .section__bg {
    background-position: 0 0;
  }
}
.section__bg--wrapper {
  background: rgba(34, 57, 155, 0.8);
  width: 100%;
  height: 100%;
}

.logo {
  margin: 0 auto;
  margin-bottom: 49px;
  max-width: 112px;
  height: 126px;
}
@media (min-width: 768px) {
  .logo {
    max-width: 174px;
    height: 166px;
    margin-bottom: 87px;
  }
}

.description {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .description {
    margin-bottom: 64px;
  }
}
.description h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  color: #ffffff;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .description h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }
}
.description p {
  font-size: 16px;
  color: #ffffff;
  max-width: 589px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .description p {
    font-size: 18px;
    line-height: 28px;
  }
}

.btn {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.btn:last-of-type {
  margin-left: 0;
}
.btn--lg {
  width: 150px;
  height: 48px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .btn--lg {
    width: 226px;
    height: 64px;
    font-size: 22px;
    margin-left: 22px;
  }
}
.btn-prime {
  background: #5274F9;
  color: #ffffff;
}
.btn-prime:hover {
  background: #ffffff;
  color: #5274F9;
}
.btn--outline {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn--outline:hover {
  background: #ffffff;
  color: #5274F9;
}
.btn--rounded {
  border-radius: 4px;
}
.btn-group {
  display: flex;
  max-width: 310px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .btn-group {
    max-width: 474px;
  }
}

.services-description {
  text-align: center;
  padding: 50px 30px 45px;
}
@media (min-width: 992px) {
  .services-description {
    padding: 110px 0 62px;
  }
}
.services-description__title {
  font-size: 21px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 8px;
  color: #404040;
}
@media (min-width: 992px) {
  .services-description__title {
    margin-bottom: 16px;
  }
}
.services-description__text {
  font-size: 16px;
  font-weight: 300;
  color: #808080;
}
@media (min-width: 992px) {
  .services-description__text {
    max-width: 703px;
    margin: 0 auto;
  }
}

.cards-container {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .cards-container {
    justify-content: center;
  }
}

.card {
  margin-bottom: 174px;
}
@media (min-width: 768px) {
  .card {
    margin-left: 10px;
  }
}
.card__image {
  position: relative;
}
.card__body {
  margin: 0 auto;
  max-width: 95%;
  background: #ffffff;
  border-radius: 10px;
  padding: 27px 27px 35px;
  text-align: center;
  position: absolute;
  box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  bottom: -145px;
  right: 0;
  left: 0;
}
.card__title {
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
  }
}
.card__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #62758D;
}
@media (min-width: 768px) {
  .card__text {
    font-size: 16px;
    line-height: 25px;
  }
}
.card__tag-group {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.card__tag-group .tag {
  width: 114px;
  text-align: center;
  padding: 4px 0 1px;
}
.card__tag-group .tag--blue {
  background: #EDF1FF;
  color: #5C3FFB;
}
.card__tag-group .tag--green {
  background: #E9F9F0;
  color: #32BA6E;
}
.card__tag-group .tag--orange {
  background: #FEF2EB;
  color: #FB7C3F;
}

.col-12 {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .col-sm-6 {
    flex: 1 1 50%;
    max-width: 50%;
  }
  .col-sm-6:last-of-type {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-sm-6:last-of-type {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    flex: 1 1 33.3333333%;
    max-width: 371px;
  }
}

/*# sourceMappingURL=style.css.map */
